
* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header {
    background-color: green;
    display: flex;
    flex-direction: column;
}

.divCabera {
    width: 100%;
}

.divHr {
    width: 100%;
}

/* NAV */
nav {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    }

a{
    color: white;
    font-size:14px;
    } 

ul {
    list-style-type: none;
    padding-top: 10px;
    }

ul li {
    display:inline-block;
    padding:5px 10px;
    text-align:center;
    color:#fff;
    }

/* MAIN */
main {
    display: flex;
    flex-direction: column;
}

.contenedorPresentacion {
    width: 100%;
    display: flex;
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
}

@media only screen and ( max-width: 600px) {

    /* HEADER */

    .cabecera {
        width: 100%;
        display: flex;
    }

    .divLogo {
        visibility: hidden;
    }

    .divTitulo { 
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divTitulo h1 {
        width: 100%;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .divTitulo h2 { 
        width: 100%;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .divLogin {
        width: 30%;
    }

    /* MAIN */

    section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contenedorAbout {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: black 1px solid;
        padding: 10px;
    }
    
    .textoAbout {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tituloAbout {
        width: 100%;
    }

    .imgAbout {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedorFooter {
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: green;
    }

    .contenedorRedes {
        width: 90%;
    }
}

@media only screen and ( min-width: 600px) {

      /* HEADER */

      .cabecera {
        width: 100%;
        display: flex;
    }

    .divLogo {
        visibility: hidden;
    }

    .divTitulo { 
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divTitulo h1 {
        width: 100%;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .divTitulo h2 { 
        width: 100%;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .divLogin {
        width: 30%;
    }

    /* MAIN */

    section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contenedorAbout {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: black 1px solid;
        padding: 10px;
    }
    
    .textoAbout {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tituloAbout {
        width: 100%;
    }

    .imgAbout {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedorFooter {
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: green;
    }

    .contenedorRedes {
        width: 90%;
    }
}


@media only screen and ( min-width: 992px) {

      /* HEADER */

      .cabecera {
        width: 100%;
        display: flex;
    }

    .divLogo {
        width: 20%;
    }

    .divTitulo { 
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divTitulo h1 {
        width: 100%;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .divTitulo h2 { 
        width: 100%;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .divLogin {
        width: 30%;
    }

    /* MAIN */

    section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contenedorAbout {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: black 1px solid;
        padding: 10px;
    }
    
    .textoAbout {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px
    }

    .tituloAbout {
        width: 100%;
    }

    .imgAbout {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tituloImagenes {
        width: 100%;
    }

    .contenedorFooter {
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: green;
    }

    .contenedorRedes {
        width: 90%;
    }
}


